.container {
    padding: 20px 10px;
    max-width: 1224px;
    margin: 0 auto;
    margin-top: 30px;
}

.title {
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 60px;
line-height: 1em;
letter-spacing: 0.02em;
color: #191A15;
margin: 0;
padding: 20px 0 12px 0;
}

.title_span {
font-style: Italic;
color: #54BE96;
}

.text {
font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 18px;
line-height: 1.3em;
letter-spacing: 0.02em;
color: #191A15;
margin: 0;
padding: 20px 0 12px 0;
max-width: 525px;
}

.button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 18px;
width: 235.83px;
height: 60px;
background: #54BE96;
border: none;
border-radius: 30px;
font-family: Inter;
font-weight: 400;
font-style: Medium;
font-size: 20px;
line-height: 24px;
letter-spacing: -1%;
color: #FBFBFB;
white-space: nowrap;
margin-top: 20px;
}

.button:hover {
background: #36A379;
}

.right {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 40px;
position: relative;
}

.image {
    width: 346px;
    height: 390px;
}

.image_container {
    position: relative;
}

.quantity {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
position: absolute;
/* width: 311px;
height: 118px; */
width: 250px;
height: 96px;
background: #54BE96;
border-radius: 20px;
/* padding: 32px; */
padding: 15px;
/* gap: 16px; */
gap: 10px;
box-sizing: border-box;
bottom: 20px;
left: -2%;
}

.icon_quan {
/* width: 54px;
height: 54px; */
width: 30px;
height: 30px;
background: #FBFBFB;
/* border-radius: 13px; */
border-radius: 8px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.icon_sign {
    width: 20px;
    height: 20px;
}

.quan_cont {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
gap: 8px;
}

.text_quan {
padding: 0;
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: #FBFBFB80 ;
white-space: nowrap;
}

.number {
font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
color: #FBFBFB;
}

.question {
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
background: #4535AF;
border-radius: 10px;
transform: rotate(-20deg);
top: 35%;
left: -2%;
}

.icon_ques {
transform: rotate(20deg);
}

.people {
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 48px;
height: 48px;
background: #FBC75E;
border-radius: 10px;
transform: rotate(15deg);
top: 10%;
right: -2%;
}

.icon_people {
transform: rotate(-15deg);
}

@media (min-width:415px) {

.question {
left: -9%;
}    

.people {
right: -9%;
}

.quantity {
left: -10%;
}
}



@media (min-width:768px) {

.container {
padding: 20px 25px;
}

.button {
    margin-top: 0;
}

.title {
padding: 0;
margin-bottom: 20px;
}

.text {
padding: 0;
margin-bottom: 40px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right:  20px;
}  

.container {
display: grid;
grid-template-columns: 1fr 1fr;
}

.right {
align-items: flex-end;
margin: 0;
padding-left: 20px;
}
}

@media (min-width:1024px) {

.question {
left: -7%;}

.quantity {
    bottom: 40px;
}

.title {
font-size: 80px;
}    

.container {
padding: 24px 44px;
display: grid;
grid-template-columns: 1fr 1fr;
}

.image {
    width: 464px;
    height: 526px;
}

}

@media (min-width:1280px) {

.left {
padding-right:  0;
}

.quantity {
width: 311px;
height: 118px; 
padding: 32px;
gap: 16px;
left: -20%;
}

.icon_quan {
width: 54px;
height: 54px; 
border-radius: 13px;
}

.container {
padding: 24px 128px;

}
}