.header {
  position: relative;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(25, 26, 21, 0.1);
  z-index: 1;
  max-width: 1224px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.circle {
  display: none;
}

.logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #54be96;
}

.logoSpan {
  color: #191a15;
}

.nav {
  display: none;
}

.buttons {
  display: none;
}

.name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.loggedin {
  display: none;
}

.logoutBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 39px;
  gap: 8px;
  width: 124px;
  height: 48px;
  border: 1px solid rgba(25, 26, 21, 0.2);
  border-radius: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #191a15;
  white-space: nowrap;
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
  display: flex;
  justify-content: flex-end;
}

.iconMenu {
  border: none;
  background-color: transparent;
}

.buttonsMob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.loginBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 39px;
  gap: 8px;
  width: 124px;
  height: 48px;
  border: 1px solid #fbfbfb;
  border-radius: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #191a15;
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
  color: #fbfbfb;
}

.registrationBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 40px;
  gap: 8px;
  width: 171px;
  height: 48px;
  background: #36a379;
  border-radius: 30px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  cursor: pointer;
}

.loggedinMob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mobileMenu {
  width: 60%;
  max-width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  animation: slideIn 0.3s ease forwards;
  gap: 32px;
  background-color: #54be96;
}

.navMob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.navItem {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.iconProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #36a379;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .header {
    padding: 20px 25px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 24px 44px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    gap: 11px;
  }

  .navItem {
    font-size: 16px;
    color: #191a15;
  }

  .profile {
    gap: 14px;
  }

  .name {
    color: #191a15;
  }

  .overlay {
    display: none;
  }

  .registrationBtn {
    background: #54be96;
  }

  .active::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 43%;
    transform: translatex(50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #54be96;
  }

  .loginBtn:hover {
    border: none;
    background: #191A1533;
  }

  .loginBtn {
      border: 1px solid rgba(25, 26, 21, 0.2);
      color: #191a15;
  }

  .registrationBtn:hover {
    background: #36a379;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .loggedinMob {
    display: flex;
  }

  .loggedin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28px;
  }

  .nav {
    gap: 40px;
  }

  .iconMenu {
    display: none;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 24px 128px;
  }
}
