.backdrop {
  position: fixed; 
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  position: relative;
  width: 252px;
  box-sizing: content-box;
  background: #fff;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 20px 40px rgba(15, 23, 42, 0.25);
}

.close_btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.title {
  font-family: Inter;
  font-weight: 500;
  font-size: 36px;
  /* font-size: 40px; */
  line-height: 48px;
  letter-spacing: -2%;
  /* margin-bottom: 20px; */
  margin-bottom: 15px;
  color: #191a15;
  margin-top: 10px;
}

.text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  /* font-size: 16px; */
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #191a1580;
  /* margin-bottom: 40px; */
  margin-bottom: 20px;
}

.input {
  width: 100%;
  height: 32px;
  /* height: 52px; */
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 8px;
  /* border-radius: 13px; */
  /* margin-bottom: 18px; */
  margin-bottom: 7px;
  padding-left: 10px;
  box-sizing: border-box;
}

.input::placeholder {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  /* font-size: 16px; */
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  transition: opacity 0.2s ease;
  /* padding-left: 18px; */
}

.submit_btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  /* height: 52px; */
  background: #54be96;
  border-radius: 30px;
  border: none;
  font-family: Inter;
  font-weight: 400;
  /* font-weight: 500; */
  font-style: Medium;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -1%;
  color: #fbfbfb;
  /* margin-top: 33px; */
  margin-top: 20px;
}

.field {
  position: relative;
}

.password_togle {
  position: absolute;
  top: 40%;
  right: 16px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password_icon {
  fill: none;
  stroke: #191A15;
  stroke-width: 2px;
}

@media (min-width: 768px) {
  .modal {
    width: 566px;
    padding: 64px;
    box-sizing: border-box;
  }

  .close_btn {
    top: 28px;
    right: 28px;
  }

  .title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .text {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .input {
    height: 52px;
    border-radius: 13px;
    margin-bottom: 18px;
    padding-left: 18px;
  }

  .input::placeholder {
    font-size: 16px;
  }

  .submit_btn {
    height: 52px;
    font-weight: 500;
    margin-top: 33px;
  }

  .submit_btn:hover {
    background: #36a379;
  }

  .password_togle {
  top: 40%;

}
}
